<div class="row">
  <div class="col-lg-12 mb-3">
      <h3 class="display-6 fw-bold m-0">Renk Listesi</h3>
      <button class="btn btn-primary ms-4 btn-lg float-end" routerLink="add"><i class="bi bi-plus-lg"></i> Ekle</button>
  </div>
</div>
<div class="card p-2 rounded-2">
  <table class="table table-hover align-middle">
    <thead class="card-header">
      <tr class="text-uppercase">
        <th scope="col">Id</th>
        <th scope="col">Renk Adı</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="card-body">
      <tr *ngFor="let color of colors">
        <th scope="row">{{ color.id }}</th>
        <td>{{ color.name | titlecase }}</td>
        <td class="justify-content-between">
          <button type="button"
            routerLink="edit/{{ color.id }}"
            class="btn btn-sm btn-success mx-2"
          ><i class="bi bi-pencil" title="Güncelle"></i></button>
          <button (click)="delete(color)" class="btn btn-danger btn-sm">
            <i class="bi bi-trash" title="Sil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
