<div class="d-flex justify-content-between">
  <h1 class="display-6 fw-bold mb-3">Araba Güncelle</h1>
  <button *ngIf="car" routerLink="/cars/edit/images/{{ car.id }}" class="btn btn-lg btn-success mb-3">
    <i class="bi bi-images" title="Fotoğraflar"></i>
  </button>
</div>
<div class="card p-2 rounded-2">
  <div class="card-body">
    <form *ngIf="carEditForm" [formGroup]="carEditForm">
      <div class="form-group mb-3">
        <label for="brand-input" class="fw-bold mb-3">Marka</label>
          <select class="form-select" formControlName="brandId">
            <option *ngFor="let brand of brands" value="{{ brand.id }}">
              {{ brand.name }}
            </option>
          </select>
      </div>
      <div class="form-group mb-3">
        <label for="color-input" class="fw-bold mb-3">Renk</label>
        <select id="color-input" formControlName="colorId" class="form-select">
          <option *ngFor="let color of colors" value="{{ color.id }}">
            {{ color.name }}
          </option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="description-input" class="fw-bold mb-3">Model Adı / Açıklama</label>
        <input type="text" formControlName="description" id="description-input" class="form-control"
          placeholder="Model Adı / Açıklama"/>
      </div>
      <div class="form-group mb-3">
        <label for="model-year-input" class="fw-bold mb-3">Model Yılı</label>
        <input type="number" formControlName="modelYear" id="model-year-input" class="form-control"
          placeholder="Model Year" />
        <div *ngIf="
            carEditForm.get('modelYear')?.hasError('required') &&
            carEditForm.get('modelYear')?.dirty
          " class="alert alert-danger">
          Model yılı gereklidir
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="daily-price-input" class="fw-bold mb-3">Günlük Fiyat</label>
        <input type="number" formControlName="dailyPrice" id="daily-price-input" class="form-control"
          placeholder="Daily Price" />
        <div *ngIf="
            carEditForm.get('dailyPrice')?.hasError('required') &&
            carEditForm.get('dailyPrice')?.dirty
          " class="alert alert-danger">
          Günlük fiyat gereklidir
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button (click)="delete()" class="btn btn-danger btn-lg">
      <i class="bi bi-trash" title="Sil"></i> Sil
    </button>
    <button (click)="update()" class="btn btn-primary btn-lg">
      <i class="bi bi-check-lg" title="Kaydet"></i> Kaydet
    </button>
  </div>
</div>
