<div class="d-flex justify-content-between">
  <h1 class="display-6 fw-bold mb-3">Araba Güncelle</h1>
  <button
    *ngIf="car"
    routerLink="/admin/cars/edit/images/{{ car.id }}"
    class="btn btn-sm btn-success shadow-sm mb-3"
  >
    <i class="fas fa-images"></i> Araba Resimleri
  </button>
</div>
<div class="card p-2 rounded-2 shadow-xl">
  <div class="card-body shadow">
    <form *ngIf="carEditForm" [formGroup]="carEditForm">
      <div class="row">
        <div id="brand-input" class="col-md mb-3">
          <label for="brand-input" class="d-flex align-content-center">
            <span class="fw-bold d-flex align-items-center">Marka</span>
            <div class="form-floating ms-3">
              <input
                type="text"
                formControlName="brandFilterText"
                class="form-control border-0"
                id="search-brand-input"
                placeholder="Marka Adı"
              />
              <label for="search-brand-input" class="text-muted"
                ><i class="fas fa-search"></i> Ara</label
              >
            </div>
          </label>
          <select class="form-select" size="5" formControlName="brandId">
            <option
              *ngFor="
                let brand of brands
                  | filterBrand: carEditForm.value['brandFilterText']
              "
              value="{{ brand.id }}"
            >
              {{ brand.name }}
            </option>
          </select>
        </div>
        <div id="color-input" class="col-md mb-3">
          <label for="color-input" class="d-flex align-content-center">
            <span class="fw-bold d-flex align-items-center">Renk</span>
            <div class="form-floating ms-3">
              <input
                type="text"
                formControlName="colorFilterText"
                class="form-control border-0"
                id="search-color-input"
                placeholder="Renk Adı"
              />
              <label for="search-color-input" class="text-muted"
                ><i class="fas fa-search"></i> Ara</label
              >
            </div>
          </label>
          <select
            id="color-input"
            formControlName="colorId"
            class="form-select"
            size="5"
          >
            <option
              *ngFor="
                let color of colors
                  | filterColor: this.carEditForm.value['colorFilterText']
              "
              value="{{ color.id }}"
            >
              {{ color.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="daily-price-input" class="fw-bold mb-3">Günlü Fiyat</label>
        <input
          type="number"
          formControlName="dailyPrice"
          id="daily-price-input"
          class="form-control"
          placeholder="Daily Price"
        />
      </div>
      <div class="form-group mb-3">
        <label for="model-year-input" class="fw-bold mb-3">Model Yılı</label>
        <input
          type="number"
          formControlName="modelYear"
          id="model-year-input"
          class="form-control"
          placeholder="Model Year"
        />
      </div>
      <div class="form-group mb-3">
        <label for="description-input" class="fw-bold mb-3">Açıklama</label>
        <textarea
          type="text"
          formControlName="description"
          id="description-input"
          class="form-control"
          placeholder="Açıklama..."
        ></textarea>
      </div>
    </form>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <button (click)="delete()" class="btn btn-danger btn-lg shadow-sm w-25">
      Sil
    </button>
    <button (click)="update()" class="btn btn-primary btn-lg shadow-sm w-50">
      Güncelle
    </button>
  </div>
</div>
