<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Car Rental</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: contents!important;">
      <ul *ngIf="isLoggedIn | async" class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-item nav-link" routerLink="cars" routerLinkActive="active">Arabalar</a>
        <a class="nav-item nav-link" routerLink="rentals" routerLinkActive="active">Kiralamalar</a>
        <li class="nav-item dropdown">
          <div *ngIf="isAdmin === true">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            <li><a class="dropdown-item" routerLink="cars">Arabalar</a></li>
            <li><a class="dropdown-item" routerLink="brands">Markalar</a></li>
            <li><a class="dropdown-item" routerLink="colors">Renkler</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="rentals">Kiralamalar</a></li>
          </ul>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <div *ngIf="!(isLoggedIn | async)">
          <li class="nav-item d-flex align-items-center">
            <button class="btn btn-primary mx-2" routerLink="/register">Üye Ol</button>
            <button class="btn btn-light" routerLink="/login">Giriş Yap</button>
          </li>
        </div>
        <div *ngIf="isLoggedIn | async" class="dropdown text-end">
          <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{currentUser.name}}
          </button>
          <ul class="dropdown-menu w-100 text-center">

            <li class="btn dropdown-item" routerLink="/profile">Profilim</li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="btn dropdown-item" (click)="logOut()">Çıkış yap</li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>
