<div class="row">
  <div class="col-lg-6">
    <div id="car-images-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button *ngFor="let carImage of carImages; let i = index" type="button" data-bs-target="#car-images-carousel"
          attr.data-bs-slide-to="{{ i }}" class="{{ isActiveCarousel(i) }}" aria-current="true"
          attr.aria-label="Car Image {{ i }}"></button>
      </div>
      <div class="carousel-inner">
        <div *ngFor="let carImage of carImages; let i = index" class="carousel-item {{ isActiveCarousel(i) }} w-100">
          <div class="d-flex align-items-center justify-content-center h-100">
            <img src="{{ getCarImageUrl(carImage.id) }}" class="d-block w-100" appHover
              alt="{{ carDetail.brandName }} {{ carDetail.carName }} {{ carDetail.modelYear }} Car Image" />
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#car-images-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon text-shadow" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#car-images-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div *ngIf="carDetail" class="col-lg-6 my-auto">
    <h1>{{ carDetail.brandName }}</h1>
    <hr style="width: 25%; opacity: 1; height: 2px">
    <ul class="list-unstyled">
      <li>
        <h5><b>Model Adı / Açıklama: </b>{{ carDetail.carName }}</h5>
      </li>
      <li>
        <h5><b>Renk: </b>{{ carDetail.colorName }}</h5>
      </li>
      <li>
        <h5><b>Model Yılı: </b>{{ carDetail.modelYear }}</h5>
      </li>
      <li>
        <h5><b>Günlük Ücret: </b>{{ carDetail.dailyPrice | currency:"":"" }}₺</h5>
      </li>
    </ul>
    <div *ngIf="isLoggedIn | async">
      <app-car-rent></app-car-rent>
    </div>
    <div *ngIf="!(isLoggedIn | async)">
      <div class="alert alert-primary text-center lead fw-normal">
        Araba kiralama işlemi için önce giriş yapmalısınız
      </div>
    </div>
  </div>
</div>
