<div tabindex="0" class="card" routerLink="/car/{{ carDetail.carId }}">
  <img src="{{ carImageUrl }}" width="250" height="200" class="card-img-top" alt="Rent {{ carDetail.brandName }} {{carDetail.carName}} - CarRentalProject">

  <div class="card-body">
     <h5 class="card-title">{{ carDetail.brandName }} {{ carDetail.carName }}</h5>
     <hr>
     <ul class="list-unstyled">
        <li><b>Renk: </b>{{ carDetail.colorName }}</li>
        <li><b>Model Yılı: </b>{{ carDetail.modelYear }}</li>
        <li><b>Günlük Ücret: </b>{{ carDetail.dailyPrice | currency : '₺ '  }}</li>
     </ul>

     <button routerLink="/car/{{ carDetail.carId }}"
        class="btn btn-primary px-4 float-end">
        Kirala
     </button>
  </div>
</div>
