<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Marka</th>
      <th>Müşteri</th>
      <th>Kiralama Tarihi</th>
      <th>Teslim Tarihi</th>
    </tr>
  </thead>
  <tr *ngFor="let rental of rentals">
    <td>{{ rental.brandName }}</td>
    <td>{{ rental.customerFullName }}</td>
    <td>{{ rental.rentDate | date:'dd/MM/yyyy hh:mm' }}</td>
    <td>{{ rental.returnDate | date:'dd/MM/yyyy hh:mm' }}</td>
  </tr>
</table>
