<div class="row">
  <div class="col-lg-12 mb-3">
      <h3 class="display-6 fw-bold m-0">Araba Listesi</h3>
      <button class="btn btn-primary ms-4 btn-lg float-end" routerLink="add"><i class="bi bi-plus-lg"></i> Ekle</button>
  </div>
</div>
<div class="card p-2 rounded-2 shadow-xl">
  <table class="table table-hover align-middle">
    <thead class="card-header">
      <tr class="text-uppercase">
        <th scope="col">Id</th>
        <th scope="col"></th>
        <th scope="col">Marka</th>
        <th scope="col">Renk</th>
        <th scope="col">Model Adı / Açıklama</th>
        <th scope="col">Model Yılı</th>
        <th scope="col">Günlük Fiyat</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="card-body">
      <tr *ngFor="let carDetail of carDetails">
        <th scope="row">{{ carDetail.carId }}</th>
        <td><img [src]="getCarImageUrl(carDetail.carImageId)" height="50"></td>
        <td>{{ carDetail.brandName | titlecase }}</td>
        <td>{{ carDetail.colorName | titlecase }}</td>
        <td>{{ carDetail.carName | titlecase }}</td>
        <td>{{ carDetail.modelYear }}</td>
        <td>{{ carDetail.dailyPrice | currency:"":"" }}₺</td>
        <td class="justify-content-between">
          <button type="button"
            routerLink="edit/images/{{ carDetail.carId }}"
            class="btn btn-sm btn-success"
          ><i class="bi bi-images" title="Fotoğraflar"></i></button>
          <button type="button"
            routerLink="edit/{{ carDetail.carId }}"
            class="btn btn-sm btn-primary mx-2"
          ><i class="bi bi-pencil" title="Güncelle"></i></button>
          <button (click)="delete(carDetail)" class="btn btn-danger btn-sm">
            <i class="bi bi-trash" title="Sil"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
